/* Head */

html {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Sections */

body {
    margin: 0;
}
main {
    display: block;
}

/* Grouping */

hr {
    height: 0;
    overflow: visible;
    box-sizing: content-box;
}
li {
    list-style: none;
}
ol, ul {
    margin: 0;
    padding: `0;
}

/* Embedded */

img {
    display: block;
    border-style: none;
}
figure {
    margin: 0;
}

/* Text */

a {
    background-color: transparent;
}
small {
    font-size: 80%;
}
strong {
    font-weight: bolder;
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
